/Backup/*
TAGS
bin/
obj/
*/Log/
*/Logs/
_ReSharper*
*.DotSettings.user
*.suo
*.jtconfig
*.orig
*.dgml
*.csproj.user
*.DotSettings
*.ncrunchsolution
*.ncrunchsolution.user
*.coverage
TestResults/*
*.pubxml.user
*.pubxml

WE2013-settings.xml
*.playlist
*.psess
*.vspx
*.rej
*.gzip
*.map
syntax: regexp
/CustomSkins/*
/packages/*
.vs/*
